<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvel Cinematic Universe</title>
  </head>
  <body>
    <div id="app">
      <h3>Characters list</h3>
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList"
          ><p>{{ character.name }}</p>
          <button @click="addToFavorite(character)">Add to favorite</button>
        </li>
      </ul>

      <div
        ><h3>Add new character</h3>
        <input
          placeholder="Type character name"
          v-bind:value="newCharacter"
          v-on:input="changeCharacterName"
        />
        <button @click="addCharacter(event)">Add character</button>
      </div>

      <h3>Favorites characters list</h3>
      <p v-if="favoriteCharactersList.length === 0"
        >No characters were added to favorites</p
      >
      <ul v-else>
        <li v-for="favoriteCharacter in favoriteCharactersList"
          ><p>{{ favoriteCharacter.name }}</p>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          characterList: [
            {
              name: 'Iron Man',
            },
            {
              name: 'Black Widow',
            },
            {
              name: 'Hawkeye',
            },
            {
              name: 'Thor',
            },
          ],
          newCharacter: '',
          favoriteCharactersList: [],
        }),
        methods: {
          addToFavorite(value) {
            this.favoriteCharactersList.push(value);
          },
          addCharacter() {
            this.characterList.push({ name: this.newCharacter });
            console.log(this.characterList)
          },
          changeCharacterName(event) {
            this.newCharacter = event.target.value;
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
